language: ruby
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.0
  - 2.2.0
  - jruby-head
  - jruby-19mode
  - 1.8.7
  - rbx-2

install: gem install test-unit mocha

script: rake test

matrix:
  allow_failures:
    - rvm: jruby-head
    - rvm: 1.8.7
    - rvm: rbx-2
