<h1>Net::SSH <span class="byline">by Jamis</span></h1>

<h2>What is it?</h2>

<div class="indent">
  <p>
    Net::SSH is a library written in
    <a href="http://www.ruby-lang.org">Ruby</a>, for emulating an SSH2 client.
    It lets you write programs in Ruby that communicate with other servers via
    the SSH protocol.
  </p>
</div>

<h2>What else do you want to know?</h2>

<ul>
  <li><a href="install.html">Download &amp; Installation</a></li>
  <li><a href="overview.html">Library and Protocol Overview</a>. You really ought to read this if you've not used Net::SSH before.</li>
  <li><a href="tutorial.html">Tutorial</a>. A few quick steps to get you started.</li>
</ul>

<ul>
  <li>
    I have a more specific question. How do I&hellip;
    <ul>
      <% FAQ.each do |faq| %>
      <li><a href="faq/<%= faq[:f] %>.html"><%= faq[:t] %>?</a></li>
      <% end %>
    </ul>
  </li>
</ul>

<ul>
  <li><a href="quickref.html">Quick reference.</a> Already know now what you're about, but need a refresher on some of the finer points?</a></li>
  <li><a href="api/index.html">Net::SSH API reference</a>. In the mood for some light reading?</li>
  <li><a href="developers.html">Developer information</a>. Want to hack on Net::SSH itself? Try this link.</li>
</ul>
