<h1>Net::SSH</h1>

<h2>Download &amp; Installation</h2>

<p>The current version of the Net::SSH library is <%= version %>. It has only one real dependency, and that is the OpenSSL bindings for Ruby. Most distributions of Ruby will come with that pre-built, but some environments (Debian, Ubuntu, etc.) require that you install it separately. Please make sure that the OpenSSL bindings for Ruby are installed before attempting to use Net::SSH.</p>

<h:code lang="shell">
$ ruby -ropenssl -e "puts :ok"
</h:code>

<p>Additionally, it is strongly recommended that you have either the <a href="http://highline.rubyforge.org/">HighLine</a> or <a href="http://rubyforge.org/projects/termios/">Termios</a> Ruby libraries installed, to deal with password prompts. Without those libraries, if Net::SSH ever needs to ask you for a password, your response will be echoed in the clear in your terminal&mdash;not exactly the most secure option!</p>

<p>The easiest way to download and install Net::SSH is via <a href="http://www.rubygems.org">RubyGems</a>, thus:</p>

<h:code lang="shell">
$ gem install net-ssh
</h:code>

<p>Alternatively, you can grab a package (in bz2, gz, or zip format) from <a href="http://rubyforge.org/frs/?group_id=274">the Net::SSH Rubyforge site</a>, and install it yourself. Just download the package, unpack it, and run the setup.rb script:</p>

<h:code lang="shell">
$ cd net-ssh-<%= version %>
$ ruby setup.rb all
</h:code>

<p>If you want to install it somewhere non-standard, you'll need to pass some options to setup.rb; just run it without the "all" argument to see what options are available to you.</p>

<p>To make sure Net::SSH installed correctly, type the following at your terminal:</p>

<h:code lang="shell">
$ ruby -rnet/ssh/version -e 'puts Net::SSH::Version.current'
</h:code>

<p>If that prints "<%= version %>", then you're all set!</p>

<div class="navigation">
  <a href="index.html">Back to menu</a>
</div>