<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="<%= root %>/styles.css" media="screen" />
</head>
<body>
  <div id="content">
    <%= body %>

    <div id="footer">
      This documentation and the Net::SSH source code is all © Jamis Buck,
      2007. The documentation is licensed under the
      <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative
      Commons Attribution-Noncommercial-Share Alike 3.0 license</a>. The
      source code is made available under the
      <a href="http://www.opensource.org/licenses/mit-license.php">MIT
      license</a>.
    </div>
  </div>
</body>
</html>